<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <script defer src="../Static/JS/testing.js"></script>
    <header id="header-index">
        <h1>LifeSpot - тестовая страница</h1>
        <p>Здесь можно экспериментировать с кодом</p>
    </header>
    <main>
        <div>
            <input type="text" oninput="" />
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div>
            <button onclick="saveInput()">Сохранить</button>
        </div>
    </main>
    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Трансляции</p></a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>
</body>
</html>